body{
  background-color: orange;
  transition: background-color 1s ease;
}

.jumbotron{
  margin-top: 20%;
  margin-bottom: 10px;
  -moz-box-shadow: 0px 0px 15px #696969;
  -webkit-box-shadow: 0px 0px 15px #696969;
  box-shadow: 0px 0px 15px #696969;
}

p.quote{
  color: orange;
  font-weight: 400;
  font-size: 22px;
  transition: color 1s ease;
}

.jumbotron footer{
  color: orange;
  transition: color 1s ease;
}

.btn{
  background-color: orange;
  color: white;
  margin-top: 25px;
}

.btn:hover{
  color: white;
  opacity: .7;
  transition: all .5s ease;
}

.btn:visited{
  color: white;
}

.credits, .credits a{
  color: white;
  font-weight: lighter;
}
